 .home_container {
     background-image: url('../../assets/mountain-bg.webp');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 100dvh;
     width: 100%;
     z-index: -1;
     position: absolute;
 }