@tailwind base;
@tailwind components;
@tailwind utilities;

.transition {
    transition: all 1s ease;
}

h1,
h2,
h3,
p {
    -webkit-font-smoothing: antialiased;
}

p {
    letter-spacing: 0.05em;
}

.morning_bg {
    background-image: url('./assets/morning-bg.jpg');
    background-position: right 45% center;
    background-size: cover;
    z-index: 1;
}

.night_bg {
    background-image: url('./assets/city-morning.png');
    background-position: right 45% center;
    background-size: cover;
    z-index: 1;
}

small {
    font-size: 14px;
}