@tailwind base;
@tailwind components;
@tailwind utilities;

.transition {
    transition: all 1s ease;
}

h1,
h2,
h3,
p {
    -webkit-font-smoothing: antialiased;
}

p {
    letter-spacing: 0.05em;
}

.home_container {
    background-image: url('./assets/night-bg.jpg');
    background-position: right 45% center;
    background-size: cover;
}

small {
    font-size: 14px;
}